{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<section class="pl-60 pb-24">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center pollen3">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Assigner un responsable à ce contact</h1>
  </nav>
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center">
    <section class="frame mr-5">
      <a href="{% url 'leads:lead_list' %}">
        <span class="text">Annuler</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="inline-flex text-white pollen4 border-0 py-2 px-6 focus:outline-none hover:bg-gray-400 rounded text-lg">
            Valider
        </button>
    </form>
</section>
{% endblock %}