{% extends "bas3.html"%}
{% load tailwind_filters %}

{% block content %}
<section class="pl-60 pb-24">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center pollen3">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Répertoire</h1>
  </nav>
    <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center yellow-400">
        <section class="frame mr-5">
            <a href="{% url 'leads:lead_detail' lead.pk %}">
                <span class="text">Retour</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
        </section>
    </nav>
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-8 sm:ml-5 lg:ml-28">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">Contact</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ lead.first_name }} {{ lead.last_name }}</h1>
            <div class="flex mb-4">
              <a class="flex-grow text-pollen4 border-b-2 bc-pollen4 py-2 text-lg px-1">Description</a>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="flex mt-5">
                    <button type="submit" class="flex ml-auto text-white pollen4 border-0 py-2 px-6 focus:outline-none hover:bg-gray-400 rounded">
                        Valider
                    </button>
                </div>
            </form>
          </div>
            <div class="text-center">
            <img alt="ecommerce" class="lg:w-40 w-40 lg:h-40 mx-2 object-cover object-center rounded" src="https://dummyimage.com/400x400">
            <span class="text-gray-500">Photo</span>
          </div>
          <div class="text-center">
            <img alt="ecommerce" class="lg:w-40 w-40 lg:h-40 mx-2 object-cover object-center rounded" src="https://dummyimage.com/400x400">
            <span class="text-gray-500">Logo</span>
          </div>
        </div>
      </div>
    </section>
</section>
{% endblock %}