{% extends "bas3.html"%}
{% load static %}

{% block content %}
<section class="pl-60">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center pollen3">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Répertoire</h1>
  </nav>
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center">
    <section class="frame mr-5">
      <a href="{% url 'home' %}">
        <span class="text">Retour à L'accueil</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
    <section class="frame mr-5">
      <a href="{% url 'leads:lead_create' %}">
        <span class="text">Ajouter un contact</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
    <section class="frame mr-5">
      <a href="{% url 'leads:category_list' %}">
        <span class="text">Catégories</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
    <section class="frame mr-5">
      <a href="{% url 'leads:invited_lead_list' %}">
        <span class="text">Répertoire public</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
  </nav>
  <section class="text-gray-600 body-font">
    <div class="container px-10 py-24 items-center">
      <div class="flex flex-wrap mx-4 -m-4">
        {% for lead in leads %}
        <div class="p-4 mx-4 lg:w-2/5 bg-white text-pollen4 shadow-xl border-0 py-1 px-3 focus:outline-none rounded-xl">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/200x200">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-pollen1">
                  <a href="{% url 'leads:lead_detail' lead.id %}"> {{ lead.first_name }} {{ lead.last_name }}</a>
              </h2>
              <h3 class="text-gray-500 mb-3"> {{ lead.post }}</h3>
              <p class="mb-4"> {{ lead.company }} </p>
              <p class="mb-4"> {{ lead.phone }} </p>
              <p class="mb-4"> {{ lead.email }} </p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
      {% if unassigned_leads.exists %}
    <div class="mt-5 flex flex-wrap -m-4">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Unassigned_Leads list</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Vous trouverez ici la liste de tout vos unassigned_leads</p>
      </div>
      {% for lead in unassigned_leads %}
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">
                <a href="{% url 'leads:assign_agent' lead.id %}"> {{ lead.first_name }} {{ lead.last_name }}</a>
            </h2>
            <h3 class="text-gray-500 mb-3"> {{ lead.post }}</h3>
            <p class="mb-4"> {{ lead.company }} </p>
            <p class="mb-4"> {{ lead.phone }} </p>
            <p class="mb-4"> {{ lead.email }} </p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  </section>
</section>
{% endblock %}
