{% extends "bas3.html" %}
{% load tailwind_filters %}

{% block content %}
<section class="pl-60 pb-24">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center pollen3">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Nouveau Contact</h1>
  </nav>
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center">
    <section class="frame mr-5">
      <a href="{% url 'leads:lead_list' %}">
        <span class="text">Retour</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
  </nav>
    <div class="lg:ml-80 flex items-center justify-center p-6 sm:ml-5 sm:p-12 md:w-1/2">
        <div class="w-full">
            <div class="px-8 py-6 text-left bg-white shadow-lg">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="inline-flex text-white pollen4 border-0 mt-5 py-2 px-6 focus:outline-none hover:bg-gray-400 rounded text-lg">
                        Valider
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}