{% extends "bas3.html"%}

{% block content %}
<section class="pl-60 pb-24">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center pollen3">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Administrateurs</h1>
  </nav>
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center">
    <section class="frame mr-5">
      <a href="{% url 'home' %}">
        <span class="text">Retour à L'accueil</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
    <section class="frame mr-5">
      <a href="{% url 'agents:agents_create' %}">
        <span class="text">Ajouter un nouvel administrateur</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
  </nav>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto items-center">
      <div class="flex flex-wrap mx-4 -m-4">
        {% for agent in object_list %}
        <div class="p-4 mx-4 mb-8 lg:w-2/5 bg-white text-pollen4 shadow-xl border-0 py-1 focus:outline-none rounded-xl">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/200x200">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-pollen1">
                  <a href="{% url 'agents:agents_detail' agent.id %}"> {{ agent.user.username }}</a>
              </h2>
              <h3 class="text-gray-500 mb-3"> Ajouté par: {{ agent.organisation }}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</section>
{% endblock %}