{% extends "base.html"%}
{% load static %}

{% block content %}
{% include 'sidenav.html' %}
<section class="text-gray-600 body-font">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center bg-yellow-400">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Notifications</h1>
  </nav>
  <div class="container px-5 pt-5 pb-24 mx-auto items-center">
    <div class="flex flex-col text-center w-full mb-20">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Vous trouverez ici vos dernières notifications</p>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center bg-yellow-400">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Actualités</h1>
  </nav>
  <div class="container px-5 pt-5 pb-24 mx-auto items-center">
    <div class="flex flex-col text-center w-full mb-20">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Vous trouverez ici les dernières actualités de Pollen et Polleen</p>
    </div>
  </div>
</section>
{% endblock %}