{% extends "bas3.html"%}
{% load static %}
{% load tailwind_filters %}

{% block content %}
<section class="pl-60 pb-24">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center pollen3">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Aide</h1>
  </nav>
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center">
    <section class="frame mr-5">
      <a href="{% url 'home' %}">
        <span class="text">Retour à L'accueil</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
  </nav>
  <section class="frame mr-5">
    <div class="mx-5 my-2">
      <h1 class="my-2 text-2xl text-white pollen4 rounded">
        I. S'inscrire sur Polleen
      </h1>
      <p class="mx-5 my-4">
        Pour vous inscrire, un nom d'utilisateur, "Username", et un mot de passe, "Password", vous sera demandé.
      </p>
      <h1 class="my-2 text-2xl text-white pollen4 rounded">
        II. Se connecter à votre profil
      </h1>
      <p class="mx-5 my-4">
        Pour vous connecter, il vous suffit de renseigner votre "Username" qui est votre nom d'utilisateur, ainsi que votre "Password" qui est votre mot de passe.
      </p>
      <h1 class="my-2 text-2xl text-white pollen4 rounded">
        III. Fonctionnalités
      </h1>
      <h2 class="mx-5 my-2 text-xl">
        a. Accueil
      </h2>
      <p class="mx-10 my-4">
        Les notifications concernant Polleen vous serons transmisent sous le bandeau "Notifications" et
        les actualités de Polleen et Pollen vous seront transmisent sous le bandeau "Actualités".
      </p>
      <h2 class="mx-5 my-2 text-xl">
        b. Répertoire
      </h2>
      <p class="mx-10 my-4">
        Depuis la page "Répertoire", cliquez sur le nom d'un de vos contacts afin de voir le détail de ce contact.
      </p>
      <h3 class="mx-10 my-2 text-lg">
        b.1. Ajouter un contact
      </h3>
      <p class="mx-14 my-4">
        Depuis la page "Répertoire", cliquez sur "Ajouter un contact", renseignez tous les champs obligatoires (marquer par une étoile)
        et cliquez sur "Valider". Vous avez ajouté un nouveau contact.
      </p>
      <h3 class="mx-10 my-2 text-lg">
        b.2. Modifier un contact
      </h3>
      <p class="mx-14 my-4">
        Depuis la page "Répertoire", cliquez sur le nom du contact que vous souhaitez modifier, cliquez sur "Mettre à jour" et modifier les informations souhaiter.
        Cliquez sur "Valider" afin de confirmer vos modifications.
      </p>
      <h3 class="mx-10 my-2 text-lg">
        b.3. Supprimer un contact
      </h3>
      <p class="mx-14 my-4">
        Depuis la page "Répertoire", cliquez sur le nom du contact que vous souhaitez supprimer, cliquez sur "Supprimer".
        Un message de confirmation apparaitra et cliquez sur "Supprimer" pour confirmer la suppression du contact.
      </p>
      <h3 class="mx-10 my-2 text-lg">
        b.4. Catégories
      </h3>
      <p class="mx-14 my-4">
        Depuis la page "Répertoire", cliquez sur "Catégories". Cliquez sur une des catégories afin de voir le détail de cette catégorie.
      </p>
      <h4 class="mx-14 my-2 text-base">
        b.4.1. Ajouter une catégorie
      </h4>
      <p class="mx-20 my-4">
        Depuis la page "Répertoire", cliquez sur "Catégories". Cliquez sur "Créer une nouvelle catégorie".
        Complétez le nom de la catégorie et cliquez sur "Valider".
      </p>
      <h4 class="mx-14 my-2 text-base">
        b.4.2. Modifier une catégorie
      </h4>
      <p class="mx-20 my-4">
        Depuis la page "Répertoire", cliquez sur "Catégories". Cliquez sur une des catégories afin de voir le détail de cette catégorie.
        Cliquez sur "Mettre à jour". Modifier le nom de la catégorie et cliquez sur "Valider".
      </p>
      <h2 class="mx-5 my-2 text-xl">
        c. Répertoire Public
      </h2>
      <p class="mx-10 my-4">
        Depuis la page "Répertoire Public", cliquez sur le nom d'un des contacts public afin de voir le détail de ce contact.
      </p>
      <h2 class="mx-5 my-2 text-xl">
        d. Documentation
      </h2>
      <p class="mx-10 my-4">
        Depuis la page "Documentation", cliquez sur "Voir la présentation" sur la présentation de votre choix afin de voir le détail de cette présentation.
      </p>
      <h1 class="my-2 text-2xl text-white pollen4 rounded">
        IV. Réinitialiser son mot de passe
      </h1>
      <p class="mx-5 my-4">
        Depuis la page de connexion, cliquez sur "Mot de passe oublié?", renseignez votre adresse mail et cliquez sur "Valider".
        Vous recevrez un mail avec un lien, cliquez dessus et vous serez rediriger sur une nouvelle page afin de changer de mot de passe.
        Renseignez un nouveau mot de passe. Cliquez sur "Valider". Vous serez redirigier sur une page de confirmation, cliquez sur "Connexion".
        Vous pouvez maintenant vous connecter.
      </p>
    </div>
  </section>
</section>
{% endblock %}