{% extends "bas3.html"%}

{% block content %}
<section class="pl-60 pb-24">
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center pollen3">
    <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">Recommandation de Contact</h1>
  </nav>
  <nav class="md:ml-auto md:mr-auto pt-5 pb-5 flex flex-wrap items-center text-base justify-center">
    <section class="frame mr-5">
      <a href="{% url 'home' %}">
        <span class="text">Retour à L'accueil</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
    <section class="frame mr-5">
      <a href="{% url 'ia:ia_history' %}">
        <span class="text">Voir l'historique</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
    <button onclick="location.href='{% url 'ia:script' %}'" class="ml-4 inline-flex text-white pollen1 border-0 py-2 px-6 focus:outline-none hover:bg-gray-400 rounded text-lg">
      <a>Lancer le script</a>
    </button>
  </nav>
  <section class="text-gray-600 body-font">
    <div class="container px-5 pt-5 pb-24 mx-auto items-center">
      <div class="flex flex-col text-center w-full mb-5">
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Vous trouverez ici la liste des contacts recommander</p>
      </div>
      <div class="flex flex-wrap -m-4 sm:ml-5 lg:ml-60 mt-5">
        {% for ia in ia_list %}
        <div class="p-4 mb-4 lg:w-3/4 bg-white shadow-xl border-0 py-1 px-3 focus:outline-none rounded-xl">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-pollen1">
                  <a href="#">{{ ia.name }}</a>
              </h2>
                <h3 class="text-gray-500 mb-3">{{ ia.post }}</h3>
                <p class="text-pollen4 mb-4">{{ ia.company }}</p>
                <p class="text-pollen4 mb-4">{{ ia.location }}</p>
            </div>
            <button class="ml-4 inline-flex text-white pollen2 border-0 py-2 px-6 focus:outline-none hover:bg-red-200 rounded text-lg">Supprimer</button>
            <button class="ml-4 inline-flex text-white pollen4 border-0 py-2 px-6 focus:outline-none hover:bg-blue-200 rounded text-lg">Ajouter</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </section>
</section>
{% endblock %}